*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: rgb(0, 255, 136);
    display: flex;

    align-items: center;
    height:50px;
    justify-content: space-around;
}

.navlist{
    display: flex;
    list-style-type: none;
}

.menu{
    padding: 0 20px;
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
    padding: 20px 20px;
}
.menu:hover{
    color: white;
}

ul{
    /* display: flex; */
    list-style-type: none;
} */


.itemContainer4{
   margin-top: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    
   
}

.productContainer{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.itemcontainer1{
    margin: 10px 20px 20px 20px;
    display:flex;
    /* align-items: center;
    justify-content: center; */
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 90px;
}

.item{
    
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    justify-content: center;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.495);
}

.imgcontainer{
    width: 250px;
    height: 200px;
    
}
.img{
    width:100%;
    height:100%;
}

.heading{
    word-wrap: break-word;
}
.line1{
    height: 0.5px;
   background-color: rgb(139, 136, 136);
   width: 100%;
}
.line{
   height: 1px;
   background-color:rgb(139, 136, 136);
   width: 100%;
   margin-bottom: 10px;
}

.btn{
    background-color: rgb(76, 214, 129);
    height: 30px;
    width:200px;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    cursor:pointer;
    border:1px solid black;
    margin: 0px 0px 8px 0px;
}

.btn:hover{
    background-color: rgb(0, 255, 13);
}

.gridContainer{
    /* background-color: red; */
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 12px;
    column-gap: 12px;
    height:300px;
    margin-top: 20px;
    /* background-color: rgb(241, 229, 211); */
}

.griditem{
 /* background-color: blue; */
 height: 250px;
 margin: 20px 0px 0px 20px;
 /* background-color: rgb(241, 229, 211); */
}

.griditem2{
    grid-column-start: 1;
    grid-column-end: 5;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

.griditem >p{
    font-size: large;
    font-weight: 800;
}

.iconContainer >i{
 padding: 10px 10px 0px 0px
}

.links1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.links1> a{
    color: black;
    text-decoration: none;
    margin: 5px 0px 5px 0px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form >input{
    width:250px;
    height: 50px;
    border: 1px solid green;
    padding-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}
.fbtn{
    border-radius: 10px;
    cursor: pointer;
}

.fbtn:hover{
    background-color: rgb(43, 255, 0);
}

.contentlist{
    color: black;
}

.contentitem{
    color: black;
}